@model ProyectoFinalModel.Opcion

<style>
    .wrap {
        position: relative;
        display: inline-block;
    }

        .wrap span {
            position: absolute;
            bottom: 5px;
            right: 0px;
        }

    .counter {
        background-color: #5dc991;
        color: #fff;
        font-size: 10px;
        padding: 2px 5px;
        line-height: 12px;
        height: 14px;
        text-align: center;
        border-top-right-radius: 4px;
        border-bottom-left-radius: 4px;
        font-weight: 400;
    }
</style>

<form class="form-horizontal" id="lstOF" name="form_of">

    <div class="box-body">

        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="col-md-4">
                            <label class="form-control no-border">Id Opción:</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" class="form-control"
                                   id="txtIdOpcionMod" placeholder="Id Opcion" disabled value="@Model.IdOpcion" />
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <div class="col-md-4">
                            <label class="form-control no-border">Descripción:</label>
                        </div>
                        <div class="col-md-8">

                            <input type="text" class="form-control" id="txtDescMod" placeholder="Descripcion" value="@Model.Descripcion" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="col-md-4">
                            <label class="form-control no-border">Url:</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" class="form-control"
                                   id="txtUrlMod" placeholder="Url" value="@Model.Url" />
                        </div>
                    </div>
                </div>

                <div class="col-md-5 col-md-offset-1">
                    <div class="form-group">
                        <div class="col-md-4">
                            <label class="radio">
                                @if (Model.Estado == "A")
                                {
                                    <input type="checkbox" name="chkEstado" , checked>
                                }
                                else
                                {
                                    <input type="checkbox" name="chkEstado" />
                                }
                                Activo
                            </label>
                        </div>

                    </div>
                </div>
            </div>

            @*<div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="col-md-4">
                            <label class="form-control no-border">Periodo Lectivo:</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" class="form-control"
                                   id="txtPerLecMod" placeholder="Id Periodo Lectivo" disabled value="@Model.DescPerLec" />
                        </div>
                    </div>
                </div>

                <div class="col-md-5 col-md-offset-1">
                    <div class="form-group">
                        <div class="col-md-4">
                            <label class="radio">
                                @if (Model.Estado == "A")
                                {
                                    <input type="checkbox" name="chkEstado" , checked>
                                }
                                else
                                {
                                    <input type="checkbox" name="chkEstado" />
                                }
                                Activo
                            </label>
                        </div>

                    </div>
                </div>

            </div>*@

        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="SavePartialOF"
                    style="font-size:30px;">
                <i class="fa fa-save"> </i>
            </button>

            @*<button type="button" id="SavePartialOF" class="btn btn-primary pull-left" data-dismiss="modal">
                    <i class="fa fa-save" aria-hidden="true"></i> Guardar
                </button>*@
            <button type="button" class="btn btn-danger pull-right" data-dismiss="modal"
                    style="font-size:30px;">
                <i class="fa fa-close"></i>
            </button>
        </div>
    </div>
</form>

<script type="text/javascript">

    //$(document).on('click', '#SavePartialOF', function (event) {
    $('#SavePartialOF').on('click', function () {
        event.preventDefault()

        var txtIdOpcion = document.getElementById("txtIdOpcionMod").value;
        var txtDescripcion = document.getElementById("txtDescMod").value;
        var txtUrl = document.getElementById("txtUrlMod").value;
        var txtEstado = "A";

        var chkestado = $('input[name="chkEstado"]').is(':checked')

        if (chkestado == false) {
            txtEstado = "I";
        }

        $.ajax({
            url: '/Opcion/EditaOpcion/',
            type: 'POST',
            dataType: 'json',
            data: {
                IdOpcion: txtIdOpcion,
                Descripcion: txtDescripcion,
                Url: txtUrl,
                Estado: txtEstado
            }
            
        }).done(function (response) {

            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "positionClass": "toast-top-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            };

            if (response.bResultado) {
                $('#lista_productosModal').modal('hide');
                toastr.success(response.Message, 'Editar Opción');
            }else{
                toastr.error(response.Message, 'Editar Opción');
            }   
        });
    });
</script>

<script>
    $('input[type=number]').blur(function () {
        var num = parseFloat($(this).val());
        var cleanNum = num;
        $(this).val(cleanNum);
    });
</script>

