@model IEnumerable<ProyectoFinalModel.Curso>

<p>
    @Html.ActionLink("Crear Curso", "Create")
</p>

<input type="button" class="btn btn-primary" id="btnNuevo" value="Nuevo" />

<div class="content">
    <div class="row">
        <div class="col-md-12">
            <table id="example2" class="table table-striped table-bordered dt-responsive nowrap">
                <thead>
                    <tr>
                        <th>Id Curso</th>
                        <th>Nivel</th>
                        <th>Descripcion</th>
                        <th>Estado</th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#example2').DataTable().destroy();

        var arr = @Html.Raw(Json.Encode(Model))

        $('#example2').DataTable({
            "autoWidth": false,
            "info": false,
            //"serverSide": true,
            "JQueryUI": true,
            "ordering": true,
            "paging": true,
            //"scrollY": "500px",
            //"Select": true,
            "scrollCollapse": true,
            "responsive": true,
            "processing": true,
            //"data": data.data,
            "data": arr,
            "columns": [
                { "data": "IdCurso", "className": 'IdCurso', "title": "Id Curso" },
                { "data": "Nivel", "className": 'Nivel', "title": "Nivel" },
                { "data": "Descripcion", "className": 'Descripcion', "title": "Descripcion" },
                { "data": "Estado", "className": 'Estado', "title": "Estado" },
                {
                    "render": function (data, type, row) {

                    var myUrl = '@Url.Action("Edit", "Curso")/' + row.IdCurso;
                    return '<a href=\"' + myUrl + '\" class=\"btn btn-default btn-sm\">Edit</a>';
                }
                },
            ],
        });     
    });

    $('#btnNuevo').on('click', function () {
        $.ajax({
            type: "GET",
            url: "/Curso/ExportDataProduccion",
            dataType: "json",
            success: function (data3) {
                //$('#txtIdRecibo').val(data3.maxsec);
            }
        });
    });

</script>