@model ProyectoFinalModel.Matricula

<h2>Crear nuevo Matricula</h2>

<section class="content">

    <div class="class=" col-md-6">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Registro Matricula</h3>
            </div>

            <form class="input-horizontal">
                <div class="box-body">

                    @*<div class="input-group">
                        <label for="CCiMaquina" class="control-label">Id Matricula</label>
                        @Html.EditorFor(model => model.IdMatricula, new { htmlAttributes = new { @id = "txtIdMatricula", @class = "form-control" } })
                    </div>*@

                    <div class="box-body">
                        <label for="NNuTonelaje" class="control-label">Alumno</label>
                        <div class="form-group">
                            <input type="text" id="txtSelectAlumno" />
                            <input type="text" id="txtAlumno" hidden/>
                        </div>
                    </div>

                    <div class="class=" col-md-6">
                        <div class="box">
                            <div class="box-header with-border">
                                <h3 class="box-title">Datos del Alumno</h3>
                            </div>

                            <div class="box-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                <label for="NNuNombres" class="control-label">Nombres</label>
                                            </div>
                                            <div class="col-md-8">
                                                <input type="text" id="txtNombre" name="txtNombre" class="form-control" readonly />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                <label for="NNuApellidos" class="control-label">Apellidos</label>
                                            </div>
                                            <div class="col-md-8">
                                                <input type="text" id="txtApellido" name="txApellido" class="form-control" readonly />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <br />

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                <label for="NNuTelefono" class="control-label">Teléfono</label>
                                            </div>
                                            <div class="col-md-8">
                                                <input type="text" id="txtTelefono" name="txtTelefono" class="form-control" readonly />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                <label for="NNuDireccion" class="control-label">Dirección</label>
                                            </div>
                                            <div class="col-md-8">
                                                <input type="text" id="txtDireccion" name="txtDireccion" class="form-control" readonly />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <br />

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                <label for="NNuColegio" class="control-label">Colegio Anterior</label>
                                            </div>
                                            <div class="col-md-8">
                                                <input type="text" id="txtColegio" name="txtColegio" class="form-control" readonly />
                                            </div>
                                        </div>
                                    </div>
                                    @*<div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                <label for="NNuCurso" class="control-label">Curso Anterior</label>
                                            </div>
                                            <div class="col-md-8">
                                                <input type="text" id="txtCurso" name="txtCurso" class="form-control" readonly />
                                            </div>
                                        </div>
                                    </div>*@
                                </div>

                                <br />

                            </div>

                        </div>

                    </div>

                    <div class="box-body">
                        <label for="NNuTonelaje" class="control-label">Oferta</label>
                        <div class="form-group">
                            <input type="text" id="txtSelectOferta" />
                            <input type="text" id="txtOferta" hidden />
                        </div>
                    </div>

                    @*<div class="checkbox">
                        <label class="radio">
                            <input type="checkbox" name="chkEstado" , checked>
                            Activo
                        </label>
                    </div>*@

                    <div class="class=" col-md-6">
                        <div class="box">
                            <div class="box-header with-border">
                                <h3 class="box-title">Datos de la Oferta Académica</h3>
                            </div>

                            <div class="box-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                <label for="NNuPeriodo" class="control-label">Peíodo Lectivo</label>
                                            </div>
                                            <div class="col-md-8">
                                                <input type="text" id="txtPeriodo" name="txtPeriodo" class="form-control" readonly />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                <label for="NNuCurso" class="control-label">Curso</label>
                                            </div>
                                            <div class="col-md-8">
                                                <input type="text" id="txtCurso" name="txtCurso" class="form-control" readonly />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <br />

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                <label for="NNuParalelo" class="control-label">Paralelo</label>
                                            </div>
                                            <div class="col-md-8">
                                                <input type="text" id="txtParalelo" name="txtParalelo" class="form-control" readonly />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                <label for="NNuProfesor" class="control-label">Profesor</label>
                                            </div>
                                            <div class="col-md-8">
                                                <input type="text" id="txtProfesor" name="txtProfesor" class="form-control" readonly />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <br />

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                <label for="NNuDisponibles" class="control-label">Cupos Disponibles</label>
                                            </div>
                                            <div class="col-md-8">
                                                <input type="text" id="txtDisponibles" name="txtDisponibles" class="form-control" readonly />
                                            </div>
                                        </div>
                                    </div>
                                    @*<div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                <label for="NNuProfesor" class="control-label">Profesor</label>
                                            </div>
                                            <div class="col-md-8">
                                                <input type="text" id="txtProfesor" name="txtProfesor" class="form-control" readonly />
                                            </div>
                                        </div>
                                    </div>*@
                                </div>

                                <br />

                            </div>

                        </div>

                    </div>

                </div>

                <div class="box-footer">
                    <input type="button" class="btn btn-primary" id="btnGenerar" value="Grabar" />
                </div>
            </form>
        </div>
    </div>
</section>

<script type="text/javascript">
    $(document).ready(function () {
        $("#txtSelectAlumno").on("select2-selecting", function (e) { document.getElementById('txtAlumno').value = e.val; });

        $('#txtSelectAlumno').select2({
            width: '50%',
            allowClear: true,
            // minimumInputLength: 3,
            placeholder: "Alumno",

            ajax: {
                url: '/Matricula/GetAlumnos',
                dataType: 'json',

                data: function (term, page) {
                    return {
                        q: term // search term
                    };
                },
                results: function (data, page) { // parse the results into the format expected by Select2.
                    // since we are using custom formatting functions we do not need to alter the remote JSON data
                    return { results: data.items };
                },
                cache: true
            },
            dropdownCssClass: "bigdrop", // apply css that makes the dropdown taller
            escapeMarkup: function (m) { return m; } // we do not want to escape markup since we are displaying html in results
        });

    });

    $('#txtSelectAlumno').on("change", function (e) {
        if ($(txtSelectAlumno).select2('data') != null) {
            $.ajax({
                type: "GET",
                url: "/Matricula/GetDetalleAlumno",
                data: { idAlu: document.getElementById('txtAlumno').value },
                dataType: "json",
                success: function (data) {
                    $("#txtNombre").val(data.data.Nombres);
                    $("#txtApellido").val(data.data.Apellidos);
                    $("#txtTelefono").val(data.data.Telefono);
                    $("#txtDireccion").val(data.data.Direccion);
                    $("#txtColegio").val(data.data.ColegioAnterior);
                }
            });
        } else {
            $("#txtNombre").val('');
            $("#txtApellido").val('');
            $("#txtTelefono").val('');
            $("#txtDireccion").val('');
            $("#txtColegio").val('');
        }

    });

    $(document).ready(function () {
        $("#txtSelectOferta").on("select2-selecting", function (e) { document.getElementById('txtOferta').value = e.val; });

        $('#txtSelectOferta').select2({
            width: '50%',
            allowClear: true,
            // minimumInputLength: 3,
            placeholder: "Oferta",

            ajax: {
                url: '/Matricula/GetOfertas',
                dataType: 'json',

                data: function (term, page) {
                    return {
                        q: term // search term
                    };
                },
                results: function (data, page) { // parse the results into the format expected by Select2.
                    // since we are using custom formatting functions we do not need to alter the remote JSON data
                    return { results: data.items };
                },
                cache: true
            },
            dropdownCssClass: "bigdrop", // apply css that makes the dropdown taller
            escapeMarkup: function (m) { return m; } // we do not want to escape markup since we are displaying html in results
        });

    });

    $('#txtSelectOferta').on("change", function (e) {
        if ($(txtSelectOferta).select2('data') != null) {
            $.ajax({
                type: "GET",
                url: "/Matricula/GetDetalleOferta",
                data: { idOfer: document.getElementById('txtOferta').value },
                dataType: "json",
                success: function (data) {
                    console.log(data.data);
                    $("#txtPeriodo").val(data.data.DescPeriodo);
                    $("#txtCurso").val(data.data.DescCurso);
                    $("#txtParalelo").val(data.data.DescParalelo);
                    $("#txtProfesor").val(data.data.DescProfesor);
                    $("#txtDisponibles").val(data.data.DescDisponible);
                }
            });
        } else {
            $("#txtPeriodo").val('');
            $("#txtCurso").val('');
            $("#txtParalelo").val('');
            $("#txtProfesor").val('');
            $("#txtDisponibles").val('');            
        }

    });

    $('#btnGenerar').on('click', function () {
        var IdAlumno = document.getElementById("txtAlumno").value;
        var IdOferta = document.getElementById("txtOferta").value;
        var Estado = "A";

        //var chkestado = $('input[name="chkEstado"]').is(':checked')

        /*if (chkestado == false) {
            Estado = "I";
        }*/

        var previousWindowKeyDown = window.onkeydown;

        var jsonCad = "{'IdMatricula':'" + 0 + "'";
        jsonCad = jsonCad + ", 'IdAlumno': '" + IdAlumno + "'";
        jsonCad = jsonCad + ", 'IdOferta': '" + IdOferta + "'";
        jsonCad = jsonCad + ", 'Estado': '" + Estado + "'";
        jsonCad = jsonCad + "}";

        swal({
            title: "Matricula ",
            text: "Esta seguro que desea grabar los datos",
            type: "info",
            showCancelButton: true,
            closeOnConfirm: false,
            showLoaderOnConfirm: true
        }, function (isConfirm) {
            window.onkeydown = previousWindowKeyDown;
            if (isConfirm) {
                $.ajax(
                    {
                        type: "POST",
                        url: "/Matricula/Create",
                        data: jsonCad,
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (data) {

                            if (data.bResultado) {
                                swal("Saved", data.Message, "success");

                                window.setTimeout(function () {
                                    location.href = '@Url.Action("Create", "Matricula")';
                                }, 4000);

                            }
                            else {
                                swal("Cancelled", data.Message, "error");
                            }
                        }
                    }
                )
            }
        });
    });
</script>