
<h2>Ofertas</h2>

<div class="content">
    <div class="row">
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title"> Parametros de Consulta </h3>
            </div>
            <div class="box-body">
                <div class="form-group">
                    <input type="text" id="txtSelectPeriodo" />
                    <input type="text" id="txtPeriodo" hidden />
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title"> Detalle </h3>
            </div>
            <div class="box-body">

                <div class="box-body">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    <label class="form-control no-border">Curso:</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" id="txtSelectCurso" />
                                    <input type="text" id="txtCurso" hidden />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    <label class="form-control no-border">Paralelo:</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" id="txtSelectParalelo" />
                                    <input type="text" id="txtParalelo" hidden />
                                </div>
                            </div>
                        </div>
                    </div>                    

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    <label class="form-control no-border">Dirigente:</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" id="txtSelectDirigente" />
                                    <input type="text" id="txtDirigente" hidden />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    <label class="form-control no-border">Capacidad:</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" class="form-control"
                                           id="txtCapacidad" placeholder="Capacidad" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <br />

                    <div class="row">
                        <div class="col-md-12">
                            <input type="button" class="btn btn-primary" id="btnAddRow" value="Agregar" />
                        </div>
                    </div>

                </div>

                <br />

                <table id="example2" class="table table-striped table-bordered dt-responsive nowrap">
                    <thead>
                        <tr>
                            <th>Id Oferta</th>
                            <th>Id Periodo Lectivo</th>
                            <th>Id Curso</th>
                            <th>Id Paralelo</th>
                            <th>Id Profesor</th>
                            <th>Periodo Lectivo</th>
                            <th>Curso</th>
                            <th>Paralelo</th>
                            <th>Profesor</th>
                            <th>Capacidad</th>
                            <th>Ocupado</th>
                            <th>Disponible</th>
                            <th>Estado</th>
                            <th></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {
        $("#txtSelectPeriodo").on("select2-selecting", function (e) { document.getElementById('txtPeriodo').value = e.val; });

        $('#txtSelectPeriodo').select2({
            width: '50%',
            allowClear: true,
            // minimumInputLength: 3,
            placeholder: "Periodo Lectivo",

            ajax: {
                url: '/Oferta/GetPeriodos',
                dataType: 'json',

                data: function (term, page) {
                    return {
                        q: term // search term
                    };
                },
                results: function (data, page) { // parse the results into the format expected by Select2.
                    // since we are using custom formatting functions we do not need to alter the remote JSON data
                    return { results: data.items };
                },
                cache: true
            },
            dropdownCssClass: "bigdrop", // apply css that makes the dropdown taller
            escapeMarkup: function (m) { return m; } // we do not want to escape markup since we are displaying html in results
        });

        $("#txtSelectCurso").on("select2-selecting", function (e) { document.getElementById('txtCurso').value = e.val; });

        $('#txtSelectCurso').select2({
            width: '100%',
            allowClear: true,
            // minimumInputLength: 3,
            placeholder: "Curso",

            ajax: {
                url: '/Oferta/GetCursos',
                dataType: 'json',

                data: function (term, page) {
                    return {
                        q: term // search term
                    };
                },
                results: function (data, page) { // parse the results into the format expected by Select2.
                    // since we are using custom formatting functions we do not need to alter the remote JSON data
                    return { results: data.items };
                },
                cache: true
            },
            dropdownCssClass: "bigdrop", // apply css that makes the dropdown taller
            escapeMarkup: function (m) { return m; } // we do not want to escape markup since we are displaying html in results
        });

        $("#txtSelectParalelo").on("select2-selecting", function (e) { document.getElementById('txtParalelo').value = e.val; });

        $('#txtSelectParalelo').select2({
            width: '100%',
            allowClear: true,
            // minimumInputLength: 3,
            placeholder: "Paralelo",

            ajax: {
                url: '/Oferta/GetParalelos',
                dataType: 'json',

                data: function (term, page) {
                    return {
                        q: term // search term
                    };
                },
                results: function (data, page) { // parse the results into the format expected by Select2.
                    // since we are using custom formatting functions we do not need to alter the remote JSON data
                    return { results: data.items };
                },
                cache: true
            },
            dropdownCssClass: "bigdrop", // apply css that makes the dropdown taller
            escapeMarkup: function (m) { return m; } // we do not want to escape markup since we are displaying html in results
        });

        $("#txtSelectDirigente").on("select2-selecting", function (e) { document.getElementById('txtDirigente').value = e.val; });

        $('#txtSelectDirigente').select2({
            width: '100%',
            allowClear: true,
            // minimumInputLength: 3,
            placeholder: "Dirigente",

            ajax: {
                url: '/Oferta/GetProfesores',
                dataType: 'json',

                data: function (term, page) {
                    return {
                        q: term // search term
                    };
                },
                results: function (data, page) { // parse the results into the format expected by Select2.
                    // since we are using custom formatting functions we do not need to alter the remote JSON data
                    return { results: data.items };
                },
                cache: true
            },
            dropdownCssClass: "bigdrop", // apply css that makes the dropdown taller
            escapeMarkup: function (m) { return m; } // we do not want to escape markup since we are displaying html in results
        });
    });

    $('#txtSelectPeriodo').on("change", function (e) {
        if ($(txtSelectPeriodo).select2('data') != null) {
            $.ajax({
                type: "GET",
                url: "/Oferta/GetDetalle",
                data: { idPer: document.getElementById('txtPeriodo').value },
                dataType: "json",
                success: function (data) {
                    GeneraConsulta(data.listOfertaExt);
                }
            });
        } else {
            $('#example2').DataTable().clear().draw();
        }
    });

    $('#btnAddRow').on('click', function () {

        var IdPeriodo = document.getElementById("txtPeriodo").value;
        var IdCurso = document.getElementById("txtCurso").value;
        var IdParalelo = document.getElementById("txtParalelo").value;
        var IdProfesor = document.getElementById("txtDirigente").value;
        var Capacidad = document.getElementById("txtCapacidad").value;

        var jsonCad = "{'IdPeriodo':'" + IdPeriodo + "'";
        jsonCad = jsonCad + ", 'IdCurso': '" + IdCurso + "'";
        jsonCad = jsonCad + ", 'IdParalelo': '" + IdParalelo + "'";
        jsonCad = jsonCad + ", 'IdProfesor': '" + IdProfesor + "'";
        jsonCad = jsonCad + ", 'Capacidad': '" + Capacidad + "'";
        jsonCad = jsonCad + "}";

        swal({
            title: "Oferta ",
            text: "Desea grabar el registro? ",
            type: "info",
            showCancelButton: true,
            closeOnConfirm: false,
            showLoaderOnConfirm: true
        }, function (isConfirm) {
            if (isConfirm) {

                $.ajax(
                    {
                        type: "POST",
                        url: "/Oferta/Create",
                        data: jsonCad,
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (data) {

                            if (data.bResultado) {
                                swal("Saved", data.Message, "success");
                                GeneraConsulta(data.listOfertaExt);
                            }
                            else {
                                swal("Cancelled", data.Message, "error");
                            }
                        }
                    }
                )

            }

        });
    });

    function GeneraConsulta(listOfertaExt) {
        $('#example2').DataTable().destroy();

        $('#example2').DataTable({
            "autoWidth": false,
            "info": false,
            "JQueryUI": true,
            "ordering": false,
            "paging": false,
            "responsive": true,
            "processing": true,
            "data": listOfertaExt,
            "columns": [
                { "data": "IdOferta", "className": 'IdOferta', "title": "Id Oferta", "visible": false },
                { "data": "IdPeriodoLectivo", "className": 'IdPeriodoLectivo', "title": "Id Periodo Lectivo", "visible": false },
                { "data": "IdCurso", "className": 'IdCurso', "title": "Id Curso", "visible": false },
                { "data": "IdParalelo", "className": 'IdParalelo', "title": "Id Paralelo", "visible": false },
                { "data": "IdProfesor", "className": 'IdProfesor', "title": "Id Profesor", "visible": false },                
                { "data": "DescPerLec", "className": 'DescPerLec', "title": "Periodo Lectivo" },
                { "data": "DescCurso", "className": 'DescCurso', "title": "Curso" },
                { "data": "DescParalelo", "className": 'DescParalelo', "title": "Paralelo" },
                { "data": "DescProfesor", "className": 'DescProfesor', "title": "Profesor" },
                { "data": "Capacidad", "className": 'Capacidad', "title": "Capacidad" },
                { "data": "Ocupado", "className": 'Ocupado', "title": "Ocupado" },
                { "data": "Disponible", "className": 'Disponible', "title": "Disponible" },
                { "data": "Estado", "className": 'Estado', "title": "Estado" },
                {
                    "data": "btnElim", "className": 'btnElim', "title": "",
                    "render": function (data, type, row) {
                        var sCad = '<button type="button" class="btn btn-danger btn-sm btnDeleteRow"> ';
                        sCad = sCad + '<i class="fa fas fa-trash" aria - hidden="true" ></i >';
                        sCad = sCad + '</button>';

                        return sCad;
                    }

                }
            ],
        });
    }    

    $('#example2').DataTable().on('click', '.btnDeleteRow', function () {    
        var table = $('#example2').DataTable();
        var data = table.row($(this).parents('tr')).data();
        var txtIdOferta = data.IdOferta;
        var jsonCad = "{'IdOferta':" + txtIdOferta + "}";

        swal({
            title: "Oferta ",
            text: "Desea eliminar el registro? ",
            type: "info",
            showCancelButton: true,
            closeOnConfirm: false,
            showLoaderOnConfirm: true
        }, function (isConfirm) {
            if (isConfirm) {

                $.ajax(
                    {
                        type: "POST",
                        url: "/Oferta/DeleteOferta",
                        data: jsonCad,
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (data) {

                            if (data.bResultado) {
                                swal("Saved", data.Message, "success");
                                GeneraConsulta(data.listOfertaExt);
                            }
                            else {
                                swal("Cancelled", data.Message, "error");
                            }
                        }
                    }
                )

            }

        });

    });

</script>


