
<h2>Certificado de Promoción</h2>

<div class="content">
    <div class="row">
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title"> Parametros de Consulta </h3>
            </div>
            <div class="box-body">
                <div class="form-group">
                    <input type="text" id="txtSelectAlumno" />
                    <input type="text" id="txtAlumno" hidden />
                </div>

                <br />

                @using (Html.BeginForm("PrintCertPromo", "Reportes", FormMethod.Get, null))
                {
                    <input type="text" id="txtIdAlumno" name="txtIdAlumno" hidden />
                    <button class="btn btn-primary" type="submit">
                        <i class="fa fa-file-pdf-o"></i>
                    </button>
                }

            </div>
        </div>
    </div>



</div>

<script>
    $(document).ready(function () {
        $("#txtSelectAlumno").on("select2-selecting", function (e) { document.getElementById('txtAlumno').value = e.val; });
        $("#txtSelectAlumno").on("select2-selecting", function (e) { document.getElementById('txtIdAlumno').value = e.val; });

        $('#txtSelectAlumno').on("change", function (e) {

            if (e.val == "") {
                $("#txtSelectAlumno").select2("val", "");
                document.getElementById('txtAlumno').value = null;
                document.getElementById('txtIdAlumno').value = null;
            }
        });

        $('#txtSelectAlumno').select2({
            width: '50%',
            allowClear: true,
            // minimumInputLength: 3,
            placeholder: "Cédula | Apellidos y Nombres",

            ajax: {
                url: '/Reportes/GetAlumnosCP',
                dataType: 'json',

                data: function (term, page) {
                    return {
                        q: term // search term
                    };
                },
                results: function (data, page) { // parse the results into the format expected by Select2.
                    // since we are using custom formatting functions we do not need to alter the remote JSON data
                    return { results: data.items };
                },
                cache: true
            },
            dropdownCssClass: "bigdrop", // apply css that makes the dropdown taller
            escapeMarkup: function (m) { return m; } // we do not want to escape markup since we are displaying html in results
        });
    });
</script>
